
<head>
    <title>{% if edit_mode %} Редактирование услуги {% else %} Создание услуги {% endif %}</title>
</head>

{% extends 'base-admin.html' %}
{% block content %}
    <div class="wrapper">
        <div class="title">
            <h1>{% if edit_mode %} Редактирование услуги {% else %} Создание услуги {% endif %}</h1>
        </div>
        <div class="contact-form">
            <form class="input-fields" method="POST" enctype="multipart/form-data">
                <input type="text" class="input" name="service_name" placeholder="Название" value="{{ service_data[0] if edit_mode else '' }}">
                <input type="text" class="input" name="description" placeholder="Описание" value="{{ service_data[1] if edit_mode else '' }}">
                <input type="text" class="input" name="additional_info" placeholder="Дополнительная информация" value="{{ service_data[2] if edit_mode else '' }}">
                <input type="text" class="input" name="price" placeholder="Цена" value="{{ service_data[3] if edit_mode else '' }}">
                
                <label for="image">Изображение:</label>
                <input type="file" id="image" name="image">
                <input type="hidden" class="input" name="image" value="{{ service_data[4] if edit_mode else '' }}">
                
                <div id="imagePreview"></div>                  

                <button type="submit" class="btn">{% if edit_mode %}Сохранить{% else %}Создать{% endif %}</button>
            </form>
        </div>
    </div>
{% endblock %}

