
{% extends 'base-admin.html' %}
{% block content %}
<main class="table">
    <section class="table__header">
        <h1>Заявки</h1>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Клиент </th>
                    <th> Марка </th>
                    <th> Модель </th>
                    <th> Услуга </th>
                    <th> Телефон </th>
                    <th> Id пользователя </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td> {{ request[0] }} </td>
                    <td> {{ request[1] }}</td>
                    <td> {{ request[2] }} </td>
                    <td> {{ request[3] }} </td>
                    <td> {{ request[4] }} </td>
                    <td> {{ request[5] }} </td>
                    <td> {{ request[6] }} </td>
                    <td>
                        <div class="buttons">
                            <a class="button" href="{{ url_for('admin.admin_delete_request', request_id=request[0]) }}">
                                <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.28571 22.5C7.28571 23.6 8.44286 24.5 9.85714 24.5H20.1429C21.5571 24.5 22.7143 23.6 22.7143 22.5V10.5H7.28571V22.5ZM24 7.5H19.5L18.2143 6.5H11.7857L10.5 7.5H6V9.5H24V7.5Z" fill="currentColor"/>
                                    <rect x="1" y="1.5" width="28" height="28" rx="14" stroke="currentColor" stroke-width="2"/>
                                </svg>
                            </a>
                        </div> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}