{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('client.index') }}">TechCenter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.profile') }}">Профиль</a>
                    </li>
                    {% if current_user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.admin_home') }}">Админ Панель</a>
                        </li>
                {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="container mt-4 mb-4">
    <section>
        <h2>Услуги</h2>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="{{ url_for('client.service_detail', service_id=service[0]) }}">
                    <div class="card">
                        <div class="image-container">
                            <img src="{{ service[5] }}" class="card-img-top img-zoom">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ service[1] }}</h5>
                            <p class="card-text">{{ service[2] }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}