body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    line-height: 1;
    font-style: normal;
    font-weight: 600;
    background-color: #474B4F;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 6.5rem;
    background-color: #222629;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 1rem;
    transition: width 0.4s ease-in-out;
    z-index: 999;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 8.5rem;
}

.navbar:hover {
    width: 19rem;
}

.logo {
    margin: 0 0 2rem 0.8rem;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.nav-links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #6B6E70;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: color 0.3s;
    position: relative;
    padding: 2rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease-in;
    border-radius: 15px;
    cursor: pointer;
}

.nav-links a:hover {
    background-color: #769253;
}

.nav-links a:hover .text{
    color: #C0D9A0;
}

.nav-links a .text {
    font-size: 2rem;
    opacity: 0;
    width: 1px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease-in, width 0.3s ease-in, margin 0.4s ease-in, color 0.3s ease-in-out;
}

.navbar:hover .nav-links a .text {
    opacity: 1;
    margin-left: 1rem;
    width: 11rem;
}

.nav-links a svg {
    color: #6B6E70;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-links a:hover svg {
    color: #C0D9A0;
}

.navbar:hover .nav-links a svg {
    transform: translateX(-0.5rem);
}

.nav-links a.active {
    background-color: #61892F;
}

.nav-links a.active .text {
    color: #C0D9A0;
}

.nav-links a.active svg {
    color: #C0D9A0;
}

@media (max-width: 992px) {
    .navbar {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0.2rem;
        bottom: 0;
        top: unset;
    }

    .content {
        margin-bottom: 3.7rem;
        margin-left: 0;
    }

    .logo {
        display: none;
    }

    .nav-links {
        flex-direction: row;
        margin: 0;
    }

    .nav-links a {
        flex-direction: column;
        align-items: center;
        padding: 0.4rem;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .nav-links a svg {
        width: 20px;
        height: 20px;
        margin-bottom: 0.5rem;
    }

    .nav-links a .text {
        font-size: 0.8rem;
        width: auto;
        opacity: 1;
    }

    .navbar:hover .nav-links a svg {
        transform: translateX(0);
    }
    
    .navbar:hover {
        width: 100%;
    }

    .navbar:hover .nav-links a svg {
        transform: translateX(0);
    }

    .navbar:hover .nav-links a .text {
        margin-left: 0;
        width: auto;
    }
}



