<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <title>ПрофиМастер</title>
    <link rel="shortcut icon" href="/static/icons/main-page/logo-profi-master-green.svg">
    <link rel="stylesheet" href="/static/css/auth/style.css" />
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="back">
        <form class="login-form" id="login-form" method="POST">
            <div class="text">Личный Кабинет</div>
            <div class="txt-field">
                <input type="text" class="input-form" id="login" name="login" required>
                <span></span>
                <label for="login" class="label-form">Логин</label>
            </div>
            <div class="txt-field">
                <input type="password" class="input-form" id="password" name="password" required>
                <span></span>
                <label for="password" class="label-form">Пароль</label>
            </div>
            <input type="submit" class="button-form" value="Регистрация">
            <div style="width: 100%; display: flex; justify-content: center; margin-top: 1rem;">
                <a href="{{ url_for('auth.login') }}" style="text-decoration: none; color: rgb(170, 170, 170);">Уже зарегистрирован</a>
            </div>
        </form>
    </div>
</body>

</html>